//Font
$root-main-font-family: Inter;
$root-sub-font-family: "Lexend Deca";
$root-font-size: 15px;
$root-normal-font-weight: 400;
$root-emphasis-font-weight: 700;

//Color
$main-background-color: hsl(233, 47%, 7%);
$card-background-color: hsl(244, 38%, 16%);
$accent-background-color: hsl(277, 64%, 61%);
$main-heading-stats-color: hsl(0, 0%, 100%);
$main-paragraph-color: hsla(0, 0%, 100%, 0.75);
$stat-heading-color: hsla(0, 0%, 100%, 0.6);

@mixin set-size($w: 100%, $h: 100%) {
  width: $w;
  height: $h;
}

@mixin background-overlay($src) {
  background-image: $src;
  background-color: rgba($accent-background-color, 1);
  background-blend-mode: multiply;
  filter: brightness(0.8) contrast(100%) saturate(100%);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: $root-main-font-family;
  font-size: $root-font-size;
  font-weight: $root-normal-font-weight;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  @include set-size(100vw, 100vh);

  background-color: $main-background-color;
}

.container {
  background-color: $card-background-color;
  display: grid;

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

h1,
.stats li {
  color: $main-heading-stats-color;
  font-weight: $root-emphasis-font-weight;
}

h1 span {
  font-weight: $root-emphasis-font-weight;
  color: $accent-background-color;
}

p {
  color: $main-paragraph-color;
}

.stats li {
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    color: $stat-heading-color;
    font-family: $root-sub-font-family;
    text-transform: uppercase;
  }
}

.container {
  @include set-size(330px, 780px);

  grid-template-rows: 240px 1fr;

  .cover-image {
    @include background-overlay(url(./sources/images/image-header-mobile.jpg));
  }
}
